*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none!important;
}
li{
	list-style: none!important;
}

p{
	font-size: 16px;
	
}
.for-mobile{
	display: none;
}

#navbar {
	z-index: 1;
	z-index: 9999;
	width: 100%;
	background: #F3F1ED;
	padding: 10px 0;
}
.navbar-brand img{
	width: 180px;
}

.navbar-nav {
	margin-left: auto;
}

.nav-item a {
	font-size: 18px;
	color: #6a6a6a;
	transition: .6s;
}

.nav-item a:hover {
	color: #0057D9;
}

.nav-item {
	padding-left: 40px;
}
.hero{
	background: url(../images/hero.png) center  center no-repeat;
	background-size: cover;
	height: 92vh;
	display: flex;
	align-items: center;
}
.hero-content{
	width: 45%;
}
.hero-content h1{
	color: #fff;
	font-size: 60px;
	line-height: 68px;
	font-weight: 600;
}
.hero-content p{
	color: #fff;
	margin: 20px 0;
	font-size: 20px;
}
.hero-btn{
	display: flex;
	align-items: center;
}
.hero-btn a button{
	font-weight: 500;
	color: #fff;
	padding: 12px 35px;
	background:#0057D9;
	border-radius: 5px;
	margin-right: 20px;
	border: none;
	transition: .6s;
}
.hero-btn a button:hover{
	color: #000;
	background: #E6F0FF;
}
.black-btn{
	background: #00000040!important;
	border: 1px #ffffff3b solid!important;
}
.black-btn:hover{
	color: #fff!important;
	background: #000!important;
}
.product{
	padding: 80px 0;
	background: #F1F0EC;
}
.product h2{
	font-weight: 600;
	font-size: 40px;
	color: #404040;
	margin-bottom: 50px;
}
.car-product{
	text-align: center;
	transition: .5s;
	padding: 10px 10px 30px;
	border-radius: 5px;
}
.car-product:hover{
	background: #fff       ;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.094);
}

.car-product-image{
	width: 100%;
	overflow: hidden;
}

.car-product img{
	width: 100%;
	border-radius: 5px;
	margin-bottom: 50px;
	transition: .6s;
}
.car-product:hover.car-product img{
	transform: scale(1.1)
}
.car-product a {
	font-weight: 500;
	color: #fff;
	padding: 12px 25px;
	background:#0057D9;
	border-radius: 5px;
	margin-right: 20px;
	border: none;
	transition: .6s;
}
.car-product a:hover{
	color: #000;
	background: #E6F0FF;
}

.about{
	width: 100%;
	padding: 80px 0;
}
.about h2{
	font-weight: 600;
	font-size: 40px;
	color: #404040;
}
.about p{
	font-size: 20px;
	color: #6a6a6a;
}
.dis-flex{
	display: flex;
	align-items: center;
}
.fit-image{
	border-radius: 10px;
	width: 100%;
}
.contact{
	padding: 80px 0;
	background: #F3F1ED;
}
.contact h2{
	font-size: 40px;
	color: #404040;
	font-weight: 600;
}
.contact-form input{
	width: 100%;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 5px;
}
.contact-form textarea{
	width: 100%;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 5px;
}
input[type="submit"] {
	background: #0057D9;
	color: #fff;
	font-weight: 600;
}
.contact li{
	margin-bottom: 10px;
}
.contact i{
	color: #0057D9;
	margin-right: 10px;
}
footer{
	color: #fff;
	padding: 80px 0;
	background: #0057D9;
}
footer ul li{
	margin-bottom: 10px;
	list-style: disc!important;
}